#page-container {
    max-width: 100%;
    margin: auto;
}

header {
    min-height: 40px;
    text-align: center;
    font-size: 40px;
    font-style: bold;
    font-variant: small-caps;
}

#about {
    display:inline-block;
}

#about a {
    margin-right: 10px; 
    text-decoration: none; 
    color: #50b3a2; 
}


#profile-picture {
    border: 2px solid;
    max-width: 40%;
    max-height:15%;
    width: 480px;
    height: 480px;
    display:flex;
    float: left;
}

.image-caption {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    font-family: "Georgia", serif; 
    font-size: 18px;
    float: bottom;
    text-align: center;
}


.social-icon {
    max-width: 5%;
    max-height:5%;
}

.work-header {
    font-size:20px;
    width:100%
}

.sample-image {
    max-width: 100px;
    max-height: 100%;
}

#work-samples {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.work-title {
    padding-left:5%;
    text-align: left;
    font-size:20px;
    font-weight: bold;
}

.sample {
    display: flex;  
    align-items: center;   
    padding: 10px;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    width: 100%; 
}


#footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
}

